# Database credentials
DATABASE_URL=postgres://postgres:yourpassword@postgres:5432/appdb

# ElevenLabs credentials
ELEVENLABS_API_KEY=api_key_here

NODE_ENV=development

JWT_SECRET=4958498573495873498574398579348573