# Database credentials
DATABASE_URL=postgres://postgres:yourpassword@postgres:5432/appdb
PROD_DATABASE_URL=

# ElevenLabs credentials
ELEVENLABS_API_KEY=api_key

# Node environment
NODE_ENV=development

JWT_SECRET=secret_key