# Database credentials
DATABASE_URL=postgres://postgres:yourpassword@postgres:5432/appdb
PROD_DATABASE_URL=

# Node environment
NODE_ENV=development

# Gemini configs
GEMINI_API_KEY=your_actual_gemini_api_key_here
GEMINI_MODEL=gemini-2.5-flash

# Nylas API credentials
NYLAS_API_KEY=your_nylas_api_key_here
NYLAS_API_URI=https://api.us.nylas.com/v3
NYLAS_WEBHOOK_SECRET=your_nylas_webhook_secret_here